body {
     width: 960px;
     margin: 20px auto;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
     
}
header {
     border-bottom: 3px ridge gray;
     padding: 8px 0 8px 0;
     background-color: silver;
     border-radius: 10px 10px 0 0;
}
nav {
     padding: 16px 0 16px 10px;
     border-bottom: 3px ridge grey;
     background-color: #dddddd;
}
footer {
     padding: 16px 0 16px 0;
     border-top: 3px groove grey;
     text-align: center;
     color: red;
     background-color: silver;
     border-radius: 0 0 10px 10px;
}
a {
     margin-right: 6px;
    
}
section {
     display: inline-block;
     width: 600px;
     padding: 0 8px 0 0;
     margin-bottom: 8px; 
}
aside {
     display: inline-block;
     width: 342px;
     vertical-align: top;
     padding: 8px 0px 3px 8px;
     border-left: 1px solid rgb(0, 0, 0);
}
h1 {
     color: crimson;
     background-color: #343638;
     padding: auto;
}
p {
     padding-right: 8px;
     text-align: justify;
}
ul {
      text-align: justify;
      padding-right: 8px;
}
